# Review Python

### Basic Data Type

In [ ]:
print(type(1))
print(type(1.0))
print(type(True))
print(type('hello'))

### Variables

In [ ]:
a = 1
b = 2
c = a + b
c

In [ ]:
x, y, z = 10, 20, 30

x, y, z

### Basic Function

In [ ]:
round(1.2345, 2)

In [ ]:
range(10)

In [ ]:
type(range(10))

In [ ]:
input('Enter your name: ')

In [ ]:
name = 'Taweesak'
f'hello {name}'

In [ ]:
whos

In [ ]:
type(None)

### Data Structure

#### Sequence data type

##### String

In [ ]:
print('hello world')

In [ ]:
word = 'สวัสดีประเทศไทย'
print(word)

In [ ]:
word[0]

##### Range

In [ ]:
range(10)

##### List

In [ ]:
list(range(10))

In [ ]:
[2, 3, 4, 5, 6, 7, 8, 9]

##### Tuple

In [ ]:
tuple(range(10))

In [ ]:
(3, 4, 5, 6, 7, 8, 9)

#### Slicing Sequencial Data Type

In [ ]:
x = [1, 2, 3, 4, 5]

In [ ]:
x[1]

In [ ]:
x[-1]

In [ ]:
x[:]

In [ ]:
x[0:]

In [ ]:
x[1:10]

#### Dictionary

In [ ]:
dictA = dict(a=1, b=2, c=3)

In [ ]:
dictB = {'aa': 1, 'bb': 2, 'cc': 3}

In [ ]:
dictA['a']

In [ ]:
dictB['aa']

#### Set

In [ ]:
setA = {1, 2, 3, 4, 5, 5, }

In [ ]:
setA

## Basic Important Library

In [ ]:
import numpy as np

In [ ]:
npA = np.array([1, 2, 3, 4, 5])
npB = np.array([6, 7, 8, 9, 10])

In [ ]:
npA + npB

In [ ]:
npA * npB

In [ ]:
import pandas as pd
pdA = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})    
pdA

In [ ]:
pdA['a']

In [ ]:
pdA['b']

In [ ]:
pdA.head()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot([1, 2, 3, 4, 5], [1, 4, 9, 16, 25])